body{
	text-align: center;
	vertical-align: middle;
	width: 100vw;
	height: 100vh;
	background-color: #55D;
}

#aquarium{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 640px;
	height: 480px;
	background-color: #00F;
	border-radius: 15px;
}

.fish-y{
	position: relative;
	left: 0px;
	animation: y 4s ease-in-out infinite;
}

@keyframes y{
	0%{top: 100px}
	50%{top: 350px}
	100%{top: 100px}
}

.fish-x{
	position: relative;
	width:0px;
	top: 0px;
	animation: x 11s ease-in-out infinite;
}


@keyframes x{
	0%{left:550px}
	40%{transform: none}
	50%{left:20px; transform: translateX(100px) scaleX(-1)}
	90%{transform: translateX(100px) scaleX(-1) }
	100%{left:550px; transform: none}
}